.imagerow-wrapper{
	width:100%;
}

.imagerow {
	height:160px;
	width:616px;
	margin: 10px auto 10px auto;
}

.imagerow img{
	width:140px;
}

/*lightbox gallery settings*/
.imagerow .set {
/*	float: left;
*/	background: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.imagerow .set .single {
	float: left;
	display: block;
	background: #898989;
	padding: 7px;
	line-height: 1em;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	margin-right: 0px;
}

.imagerow .set .single .first {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.imagerow .set .single .last {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*for images and animation gallery*/
@media (max-width:1200px) {
	.imagerow{max-width:308px; min-height:308px; margin-top:20px;}
}

/*for images and animation gallery*/
/*@media (min-width: 771px) and (max-width:1200px) {
	.imagerow{max-width:308px; min-height:308px; margin-top:20px;}
}

@media (max-width: 612px) {
	.imagerow{max-width:308; min-height:308; margin-top:20px;}
}
*/