/*nav.css*/

/*************************** defaults **************************************/
nav {
/*	border:2px solid DarkGoldenRod;
*/}

/*override bootstrap defaults*/
a{
	color: #5C8A8A;
}

a:hover{

}

/*override bootstrap defaults*/
.panel-default{
	border:none;
	padding:0;
	min-height:530px;
/*	background-color:#EEF4F4;
*/	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.panel-group {
	margin:0px;
	display:block;
}

.panel-body a{
	margin: 0 0 0 20px;
}


  /*for submenus*/
#projects a, #gallery a{
	font-size: 16px;
	margin: 0px 0px 0px 35px;
}


/*************************** caret **************************************/
.caret-down {
	border-top: 4px solid #5C8A8A;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;	
}


/*************************** desktop nav **************************************/
.dd-btn:hover {
	background-color: #537C7C;
}

.dd-btn:hover > a{
	color: #fff;
}

.dd-btn:hover > a > .caret-down{
	border-top-color: #fff;
}

.dropdown-menu {
	left: 38%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin: 0px;
	font-size: 16px;
}

.dropdown-menu > li > a {
	padding: 3px 0 3px 0;
	margin:0px;
	color: #5C8A8A;
}

.dropdown-menu > li > a:hover {
	background-color: #537C7C;
	color:#fff;
}

.open{
	background-color: #537C7C;
	color:#fff;
}

.dropdown-menu .panel-body {
	padding: 5px;
}

.dropdown-menu .panel-body:hover {
	background-color: #537C7C;
}

.dropdown-menu .panel-body:focus {
	background-color: #537C7C;
}

.dropdown-menu .panel-body:hover a {
	background-color: #537C7C;
	color:#fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
}

nav ul {
	list-style-type: none;
}

#nav-panel{
	margin-top:40px;
}

/*.desktop-links{
	padding-left: 40px;
}*/

.desktop-links:hover{
	background-color: #537C7C;
}

.desktop-links:hover a{
	color:#fff;
}

   
/*************************** mobile nav **************************************/
#nav-link-mobile{
	width:30px;
	height:30px;
/*	background-color:#DEE8E8;
	background-color:white;
	border: 2px solid red;
*/	position:absolute;
	right:40px;
	top:20px;
	border-radius:10px;
}

#nav-link-mobile:hover{
	background-color: #537C7C;
}

.bars-wrapper{
	height:70%;
	width:100%;
	margin-top:25%;
}

.bars{
	height:3px;
	width:85%;
	margin: 3px auto 3px auto;
	background-color: #008A2E;
}

#nav-link-mobile:hover .bars{
	background-color: #fff;
}

#home-img-link-mobile {
	display:inline-block;
	width:80px;
	vertical-align: middle;
}

#title-link-mobile {
	display:inline-block;
	width:200px;
	vertical-align: middle;
}

.panel-collapse .panel-body:hover{
	background-color: #537C7C;
}

.panel-collapse .panel-body:hover a{
	color:#fff;
}


.panel-collapse .panel-body:hover  .caret-down{
	border-top-color:#fff;
}

/*************************** title formatting **************************************/
#logo{
	width:80%;
	min-width:150px;
	margin: 35px 0px 0px 35px;
}

#home-img-link {
	display:inline-block;
/*	width:80px;
*/	cursor: pointer;
	cursor: hand;
}

#title-link {
	display:inline-block;
/*	width:150px;
*/}


#title{
/*	font-size:16px;
*/	color: #008A2E;
	font-weight: bold;
	line-height: 20px;
/*	padding: 10px 10px 15px 10px;
*/}


/*************************** media queries for responsive site **************************************/
@media (max-width: 480px) {
}

@media (max-width: 770px) {
	.panel-default{min-height:130px;}
	#home-img{width:80px; height:auto;}
	h1{font-size:20px;}
	h2{font-size:16px;}
}

@media (min-width: 771px) {
	.panel-default{min-height:530px;}
	#home-img{width:160px; height:auto;}
	h1{font-size:24px;}
}

@media (min-width: 995px) {
/*	.panel{padding-left: 40px;}
*/	#home-img{width:160px; height:auto;}
	h1{font-size:24px;}
}



