/*styles.css*/
/*************************** default styling for the page **************************************/
body{
	font-family:Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size:20px;
	color: #1a232e;
	line-height:20px;
/*	background-color:#DEE8E8;
*/	background-color:#E6EAEA;
}

h1{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:24px;
	color: #008A2E;
	font-weight: bold;
	line-height: 40px;
/*	padding: 10px 10px 0px 10px;
*/}

h2{
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:20px;
	font-style: italic;
	color: #008A2E;
	font-weight: normal;
	line-height: auto;
/*	padding: 0 0 0 10px;
*/}



/*************************** main page wrappers **************************************/
#page-wrapper{
	min-height:600px;
/*	border:red 2px solid;
*/}


#content-wrapper{
	height:90%;
	margin: 0px auto 0px auto;
	min-height:600px;
/*	border: 2px solid green;
*/	vertical-align: top;
	display:inline-block;
	z-index: 1;
}


#nav-wrapper {
	height:90%;
	min-height:600px;
/*	border: 2px solid black;
*/	vertical-align: top;
	display:inline-block;
	z-index: 2;
}


#nav-wrapper-mobile {
	height:90%;
	min-height:600px;
/*	border: 2px solid black;
*/	vertical-align: top;
	display:inline-block;
	z-index: 2;
}


#content{
	margin: 40px 0 0 20px;
	width:100%;
	background-color:#fff;
	min-height:530px;
/*	border:2px solid orange;
*/	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}


/*************************** copyright content **************************************/
#copyright{
	font-size:16px;
	color: #537C7C;
	position:relative;
	display:block;
	text-align:center;
/*	border: blue 2px solid;
*/}

/*************************** styles for each html content page **************************************/
.page-content{
	padding: 5px 0 0 25px;
	width:95%;
}

#aboutImg{
/*	padding: 0 0 0 15px;
*/	display:inline-block;
}

.bio-wrapper{
	padding: 15px 0 0 0;
	display:inline-block;
}

/*************************** media queries for responsive site **************************************/
/*main page layout*/
@media (min-width: 771px) {
	#nav-wrapper-mobile{display:none;}
}


@media (max-width: 770px) {
	#nav-wrapper{display:none;}
	#nav-wrapper-mobile{width:100%; min-height:130px; }
	#content-wrapper{width:100%;}
	#content{margin: 20px 0 0 0;}
}

@media (max-width: 480px) {
/*	#page-wrapper{width:480px;}
*/	.page-content{padding-left:10px;}
	#nav-wrapper-mobile{width:100%;}
	#content-wrapper{width:100%;}
}









